/* Nordic HTML Template*/

@media only screen and (max-width: 1599px){
	
	.main-header .nav-outer {
		padding-left: 100px;
	}
	.main-header .header-upper .outer-box .mobile-nav-toggler {
		margin-left: 25px;
	}
	.banner-section .slide-year,
	.banner-section .social-box {
		left: 30px;
	}

	.page-banner-section.style-two .title {
		margin-bottom: 180px;
	}
	
}
	
@media only screen and (max-width: 1199px){

	.main-header .header-upper .language-list li {
		margin-right: 35px;
	}

	.banner-section .slide {
		padding-top: 200px;
		padding-bottom: 160px;
	}
	
	.main-header{
		margin:0px !important;
	}
	
	.main-menu .navigation > li{
		margin-left:0px;
	}
	
	.main-header .outer-box .buttons-box .theme-btn{
		font-size:16px;
	}
	
	.main-menu .navigation > li{
		margin-right:25px;
	}
	
	.main-header .header-upper .outer-container{
		padding:0px 15px;
	}
	
	.banner-section .owl-nav .owl-next{
		right:15px;
	}
	
	.banner-section .owl-nav .owl-prev{
		left:15px;
	}
	
	.banner-section .content-boxed .text,
	.banner-section .content-boxed h1{
		margin-left:0px;
	}
	
	h1{
		font-size:80px;
	}
	
	.banner-section .social-box,
	.banner-section .slide-year,
	.page-banner-section.style-two .banner-year,
	.banner-section .content-column .text br{
		display:none;
	}
	
	.page-banner-section.style-two .title{
		margin-bottom:100px;
	}
	
	.main-header .header-upper .outer-box .mobile-nav-toggler {
		margin-left: 15px;
	}
	
	.page-banner-section{
		padding-top:300px;
	}
	
	.team-section .row{
		margin:0px -15px;
	}
	
	.main-footer .outer-container,
	.team-section .team-block{
		padding:0px 15px;
	}
	
	.sidebar-page-container .sidebar-side .padding-left,
	.about-section .content-column .inner-column{
		padding-right:0px;
	}
	
	.fluid-section-one .content-column .inner-column{
		padding-right:15px;
	}
	
	.fluid-section-one .image-column{
		width:50%;
	}
	
	.gallery-block .inner-box .image .overlay-box h3{
		font-size:28px;
	}
	
	.price-block .inner-box{
		padding-left:22px;
		padding-right:22px;
	}
	
	.gallery-block .inner-box .image .overlay-box .content{
		padding-left:20px;
		padding-bottom:20px;
	}
	
	.gallery-block .inner-box .image .overlay-box h3{
		font-size:24px;
	}
	
	.project-detail-section .carousel-box .owl-nav{
		left:30px;
		right:30px;
	}
	
	.searvice-section {
		margin-top: 120px;
	}
	.projects-section,
	.about-section,
	.testimonial-section {
		padding: 110px 0px 0px;
	}
	.pricing-section {
		padding-top: 110px;
		padding-bottom: 120px;
	}
	.press-section {
		padding-top: 110px;
		padding-bottom: 85px;
	}

	.main-footer {
		padding-top: 80px;
	}
	.main-footer .footer-bottom {
		margin-top: 25px;
	}

	.main-footer h3 {
		font-size: 24px;
	}

	.widgets-section {
		padding-bottom: 37px;
	}
	.project-detail-section {
		padding: 115px 0px 0px;
	}
	.reservation-section {
		padding-top: 110px;
		padding-bottom: 120px;
	}

	.page-title-two-section {
		padding: 240px 0px 90px;
	}
	.sidebar-page-container {
		padding: 20px 0px 80px;
	}

	.sidebar-page-container.style-two {
		padding-top: 120px;
	}
	.sidebar-page-container .lower-section {
		margin-top: 75px;
		padding: 115px 0px 120px;
	}

	.contact-page-section {
		position: relative;
		padding: 100px 0px 100px;
	}
}

@media only screen and (max-width: 991px){


	.main-header .header-upper .outer-box .mobile-nav-toggler {
		padding: 56px 0px;
	}
	
	.main-footer .copy-column .copyright{
		text-align:center;
		margin-bottom:15px;
	}
	
	.main-footer .language-column ul{
		text-align:center;
		margin-top:10px;
	}
	
	.contact-page-section .info-column{
		margin-bottom:30px;
	}
	
	.btn-style-one {
		font-size: 16px;
		padding: 10px 30px;
	}
	.service-box .inner-box {
		padding: 30px;
	}
	.service-box .inner-box .content {
		padding-left: 100px;
	}
	.gallery-page-section .gallery-block {
		width: 33.33%;
	}
	
	.fluid-section-one .content-column{
		width:100%;
		margin-bottom:60px;
	}
	
	.map-section iframe{
		height:350px;
	}
	
	.fluid-section-one .content-column .inner-column{
		padding-right:15px;
		max-width:100%;
	}
	
	.fluid-section-one .image-column{
		position:relative;
		width:100%;
		background-image:none !important;
	}
	
	.fluid-section-one .image-column .image-box{
		display:block;
	}
	
	.banner-section .owl-dots{
		right:30px;
	}
	
	.sidebar-page-container.style-two{
		padding-top:120px;
	}
	
	.contact-page-section .info-column{
		margin-bottom:40px;
	}
	
	.pricing-section .price-block{
		border:none;
		padding:0px 15px;
		float:none;
		margin-bottom:30px;
	}
	
	.pricing-section .pricing-tabs .tabs-content{
		background:none;
		border: 0;
	}
	
	.price-block .inner-box .price{
		min-height:53px;
	}
	
	.pricing-section .price-block .inner-box{
		border:1px solid #e6e9ec;
		background-color:#ffffff;
	}
	
	.pricing-section .pricing-tabs .tabs-content .tab .content > .row{
		margin:0px -15px;
	}
	
	.main-header .nav-outer .mobile-nav-toggler{
		display:block;
		font-size:30px;
		color:#ffffff;
	}
	
	.main-header .nav-outer,
	.main-menu{
		display:none;
	}
	
	.main-header .header-upper .language-list{
		padding:56px 0px;
	}
	
	.page-title-two-section {
		padding-bottom: 50px;
	}
	.sidebar-page-container {
		padding: 20px 0px 0px;
	}


	.searvice-section {
		margin-top: 70px;
	}
	.about-section{
		padding: 60px 0px 0px;
	}
	.projects-section,
	
	.testimonial-section {
		padding: 70px 0px 0px;
	}
	.pricing-section {
		padding-top: 70px;
		padding-bottom: 80px;
	}
	.press-section {
		padding-top: 70px;
		padding-bottom: 55px;
	}
	.about-section.about-style-tow {
		padding-top: 80px;
	}


	.fluid-section-one .image-column .image-box {
		margin-bottom: 0;
	}
	.sidebar-page-container .sidebar-side .padding-left,
	.about-section .content-column .inner-column {
		margin-bottom: 50px;
	}
	.about-style-tow .content-column .inner-column {
		padding-left: 0;
		padding-right: 0;
		padding-top: 40px;
		margin-bottom: 0;
	}

	.sponsors-section {
		padding: 10px 0px 0px;
	}
	.sponsors-wrapper {
		padding-bottom: 40px;
	}
	.footer-widget.logo-widget {
		margin-bottom: 30px;
	}
	.testimonial-section.style-two {
		margin-top: 80px;
	}
	.sponsors-section.style-two {
		padding-bottom: 35px;
	}
	.team-section {
		padding: 70px 0px 42px;
	}

	.gallery-page-section {
		margin-top: 0px;
	}

	.gallery-page-section .filters {
		margin-bottom: 70px;
	}
	
	.gallery-page-section .filters .filter-tabs {
		text-align: center;
	}
	.gallery-page-section .filters li {
		margin-left: 30px;
	}

	.project-detail-section {
		padding: 75px 0px 0px;
	}
	.reservation-section {
		padding-top: 70px;
		padding-bottom: 80px;
	}
	.sidebar-page-container .sidebar-side .padding-left {
		padding-left: 0px;
	}

	.sidebar-page-container .sidebar-side .padding-left{
		margin-bottom: 35px;
	}

	.sidebar-page-container.style-two {
		padding-top: 70px;
	}
	.sidebar-page-container .lower-section {
		margin-top: 0px;
		padding: 65px 0px 80px;
	}
	.contact-page-section {
		position: relative;
		padding: 62px 0px 60px;
	}
}

@media only screen and (max-width: 767px){

	h1 {
		font-size: 60px;
	}

	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul,
	.main-menu .navigation > li > ul > li > ul > li > ul,
	.main-menu .navigation > li > ul > li > ul > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
	
	.blog-detail .inner-box .bold-text br,
	.blog-detail .inner-box p br,
	.blog-detail .inner-box blockquote .blockquote-text br,
	.sec-title .text br{
		display: none;
	}
	
	.blog-detail .inner-box blockquote{
		padding-left:15px;
	}
	
	.main-header .nav-outer{
		padding-right:0px;
	}
	
	.main-menu .navigation > li.has-mega-menu{
		position:relative !important;	
	}
	
	.header-upper .logo-outer {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		width:100%;
		margin:0px;
	}
	
	.page-title-two-section h1{
		font-size:40px;
	}
	
	.main-menu{
		width:100%;
		display:block;
	}
	
	.main-menu .navbar-collapse {
	   max-height:300px;
	   max-width:none;
		overflow:auto;
		float:none !important;
		width:100% !important;
		padding:0px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;
   }
   
	.main-menu .navbar-collapse.in,
	.main-menu .collapsing{
		padding:0px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:0px;
		-moz-border-radius:0px;
		-webkit-border-radius:0px;
		-o-border-radius:0px;
		border-radius:0px;
		box-shadow:none;
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:15px 0px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:12;
		border:1px solid #cc8809;
		float:none;
		margin:0px 0px 0px 0px;
		border-radius:0px;
		background:#cc8809;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#2c2c2c;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding:0px;
		outline:none;
		width:100%;
		background:#2c2c2c;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:10px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#2c2c2c;
		text-align:left;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#cc8809;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#2c2c2c;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-slider .owl-nav,
	.services-section .inner-container:before,
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-header .header-upper .outer-box{
		position:absolute;
		right:0px;
		top:0px;
		z-index:12;
		padding-left:0px;
		padding-top:0px;
		margin-left:0px;
	}
	
	.main-header .main-box .logo-box{
		float:none;
		text-align:center;
		padding-bottom:10px;
	}
	
	.main-header .header-lower .outer-box{
		position:absolute;
		z-index:12;
		display:block;
	}
	
	.main-menu .navbar-header .navbar-toggler{
		display: inline-block;
		z-index: 12;
		width: 50px;
		height: 40px;
		float: none;
		padding: 0px;
		text-align: center;
		border-radius: 0px;
	    background: none;
		border: 1px solid #ffffff;
	}
	
	.main-menu .navbar-header .navbar-toggler .icon-bar{
		position: relative;
		background: #ffffff;
		height: 2px;
		width: 26px;
		display: block;
		margin:0 auto;
		margin:5px 11px;
	}
	
	.main-header .header-upper .search-box-outer .dropdown-menu{
		top:51px !important;
		left: 0px;
		right: auto;
	}
	
	.main-header .header-upper .logo-box{
		z-index:20;
		padding:12px 0px;
	}
	
	.main-menu{
		display:none;
	}
	
	.nav-outer .mobile-nav-toggler{
		display: block;
		margin: 0;
		padding: 24px 0px;
		margin-left: 0px;
		font-size:32px;
		margin-top:0px;
	}
	
	#navbarSupportedContent{
		display:block;
	}
	
	.mCSB_inside > .mCSB_container{
		margin-right:0px;
	}
	
	.sticky-header .mobile-nav-toggler{
		display:block;
		color:#ffffff;
		font-size: 28px;
		padding: 25px 0px;
		cursor:pointer;
	}
	.banner-section .content-boxed .title {
		font-size: 60px;
	}
	
	.banner-section .content-boxed h1{
		letter-spacing:5px;
	}
	
	.banner-section .content-boxed .text{
		margin-top:40px;
	}
	
	.main-header .header-top .top-left{
		padding-right:0px;
		width:100%;
	}
	
	.main-header .header-top .info-list li a{
		font-size:13px;
	}
	
	.main-header .header-top .info-list li{
		margin-right:12px;
	}
	
	.banner-section .content-column{
		margin-bottom:40px;
	}
	
	h2{
		font-size:34px;
	}
	
	.list-style-one{
		margin-bottom:40px;
	}
	
	h4{
		font-size:20px;
	}
	
	.main-header .nav-outer .mobile-nav-toggler{
		display:block;
		font-size:30px;
		color:#ffffff;
	}
	
	.header-style-two .nav-outer .mobile-nav-toggler{
		color:#111111;
	}
	
	.banner-section .content-boxed span{
		position:relative;
		text-align:left;
		margin-top:40px;
		display:block;
	}
	
	.main-header.fixed-header .header-upper .logo-box{
		padding:14px 0px;
	}
	
	.project-detail-section p{
		font-size:16px;
	}
	
	.reservation-section .inner-container{
		padding:30px 25px 25px;
	}
	
	.main-header .header-upper .outer-box .mobile-nav-toggler,
	.main-header .header-upper .language-list{
		padding:35px 0px;
	}

	.gallery-page-section .gallery-block {
		width: 50%;
	}
	
	.page-title-two-section h1 {
		font-size: 42px;
	}
	.page-title-two-section .page-breadcrumb {
		margin-bottom: 25px;
	}
	.gallery-page-section {
		margin-top: 0px; 
	}

	.page-title-two-section {
		padding: 180px 0px 60px;
	}

}

@media only screen and (max-width: 575px){
	
	.sec-title h2{
		font-size:30px;
	}
	
	.banner-section .content-boxed p{
		font-size:16px;
	}
	
	.sec-title h2 br,
	.banner-section .content-boxed .text br{
		display:none;
	}
	
	h1{
		font-size:40px;
	}
	
	.banner-section .info{
		display:none;
	}
	
	.pricing-tabs .title-column .sec-title{
		text-align:center;
	}
	
	.press-section .sec-title .pull-right,
	.pricing-tabs .title-column .sec-title .pull-left,
	.pricing-tabs .title-column .sec-title .pull-right,
	.projects-section .sec-title .pull-right{
		width:100%;
	}
	
	.press-section .sec-title .blogs,
	.projects-section .sec-title .projects{
		padding-top:0px;
		margin-top:25px;
	}
	
	.page-banner-section h1 br{
		display: none;
	}
	.projects-section .owl-dots .owl-dot{
		margin-top: 0;
	}
	
	.pricing-tabs .tab-buttons{
		margin-top:25px;
	}
	
	.pricing-section .price-block{
		border:none;
		width:100%;
	}
	
	.main-footer .footer-column:first-child,
	.main-footer .footer-column{
		width:100%;
	}
	
	.page-banner-section .mail-box{
		position:relative;
		right:0px;
		bottom:0px;
		margin-top:25px;
		display:inline-block;
	}
	
	.gallery-page-section .filters li{
		margin-bottom: 8px;
		font-size: 14px;
	}
	
	.project-detail-section .carousel-box .owl-dots{
		bottom:15px;
	}
	
	.news-block .inner-box .lower-content h3 {
		font-size: 24px;
	}
	
	.blog-detail .inner-box .post-share-options .tags a{
		margin-bottom:8px;
	}
	
	.contact-page-section .info-column h2{
		font-size:36px;
	}
	
	.contact-page-section .info-column h3{
		font-size:24px;
	}	
		
	.testimonial-section.style-two{
		margin-top:110px;
	}
	
	.team-section{
		padding-bottom:80px;
	}
	
	.main-footer .footer-bottom{
		margin-top:50px;
	}

	
	.searvice-section {
		margin-top: 50px;
	}
	.about-section{
		padding: 42px 0px 0px;
	}
	.projects-section,	
	.testimonial-section {
		padding: 50px 0px 0px;
	}
	.pricing-section {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.press-section {
		padding-top: 53px;
		padding-bottom: 25px;
	}

	.main-footer {
		padding-top: 60px;
	}
	.main-footer .footer-bottom {
		margin-top: 25px;
	}

	.fluid-section-one .image-column .image-box {
		margin-bottom: 0;
	}
	.sidebar-page-container .sidebar-side .padding-left,
	.about-section .content-column .inner-column {
		margin-bottom: 50px;
	}
	.about-section.about-style-tow {
		padding-top: 60px;
	}
	.about-style-tow .content-column .inner-column {
		padding-left: 0;
		padding-right: 0;
		padding-top: 40px;
		margin-bottom: 0;
	}
	.sponsors-section {
		padding: 10px 0px 0px;
	}
	.sponsors-wrapper {
		padding-bottom: 40px;
	}
	.footer-widget.logo-widget {
		margin-bottom: 30px;
	}
	.testimonial-section.style-two {
		margin-top: 60px;
	}
	.sponsors-section.style-two {
		padding-bottom: 15px;
	}
	.team-section {
		padding: 50px 0px 22px;
	}

	.project-detail-section {
		padding: 55px 0px 0px;
	}
	.reservation-section {
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.project-detail-section h3 {
		margin-bottom: 20px;
	}
	.sec-title {
		margin-bottom: 40px;
	}
	.new-projects-section .post {
		padding: 30px 0px;
	}
	.new-projects-section a {
		font-size: 16px;
	}
}

@media only screen and (max-width: 479px) {

	.btn-style-one {
		font-size: 14px;
		padding: 8px 25px;
	}
	
	.banner-section .slide{
		padding-top:160px;
		padding-bottom: 140px;
	}

	.main-header .header-upper .language-list li {
		margin-right: 20px;
	}
	.main-header .header-upper .language-list li a{
		font-size: 13px;
	}
	.main-header .header-upper .outer-box .mobile-nav-toggler {
		margin-left: 0;
	}

	.banner-section .content-boxed .title {
		font-size: 30px;
	}
	
	.banner-section .content-boxed .slide-number{
		margin-bottom:50px;
	}
	
	.testimonial-section .owl-nav{
		position:relative;
		top:0px;
		margin-top:10px;
	}
	
	.testimonial-section .owl-nav .owl-prev,
	.testimonial-section .owl-nav .owl-next{
		margin-left:0px;
		margin-right:25px;
	}
	
	.banner-section .content-boxed h3{
		font-size:22px;
	}
	
	h1{
		font-size:30px;
	}
	
	h2{
		font-size:34px;
	}

	.banner-section .content-boxed .boxed-btn {
		margin-top: 50px;		
	}
	
	.map-canvas{
		height:350px;
	}
	
	.banner-section .content-boxed .sub-title{
		letter-spacing:0px;
		font-size:16px;
		text-transform:capitalize;
	}
	
	.service-box .inner-box{
		padding:25px 25px;
	}
	
	.service-box .inner-box .content{
		padding-left:0px;
	}
	
	.service-box .inner-box .content .icon{
		position:relative;
		top:0px;
		margin-bottom:30px;
	}
	
	.service-box .inner-box .content p br{
		display:none;
	}
	
	.pricing-tabs .tab-buttons .tab-btn{
		margin:0px 10px;
	}
	
	.testimonial-block .inner-box{
		padding:25px 25px;
	}
	
	.contact-page-section .info-column h2{
		margin-bottom:30px;
	}
	
	.contact-page-section .info-column ul{
		margin-bottom:40px;
	}
	
	.contact-page-section .form-column h6{
		margin-top:0px;
		margin-bottom:40px;
	}
	
	.about-section .image-column .inner-column .pattern-layer {
		left: 0;
		width: 236px;
		height: 236px;
	}
	.about-section .image-column .image {
		padding-left: 50px;
	}
	
	.gallery-page-section .gallery-block {
		width: 100%;
	}
	.page-title-two-section {
		padding: 180px 0px 35px;
	}
	.sidebar-page-container .sidebar-side .padding-left {
		margin-bottom: 15px;
	}

	.sidebar-page-container.style-two {
		padding-top: 50px;
	}
	.sidebar-page-container .lower-section {
		margin-top: 0px;
		padding: 45px 0px 60px;
	}
	.contact-page-section {
		padding: 45px 0px 40px;
	}

}